@page
@model Q2.Pages.Student.ListModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<table border="1">
    <tr>
        <td>StudentId</td>
        <td>FullName</td>
        <td>LecturerName</td>
        <td>Dob</td>
        <td>Gender</td>
        <td>Action Detail</td>
        <td>Action Delete</td>
    </tr>
    @foreach (var s in Model.students)
    {
        <tr>
            <td>@s.Id</td>
            <td>@s.FullName</td>
            <td>@s.LecturerName</td>
            <td>@s.Dob</td>>
            <td>@s.Gender</td>
            <td><a asp-page-handler="Detail" asp-route-id="@s.Id">Detail</a></td>
            <td><a asp-page-handler="Delete" asp-route-id="@s.Id">Delete</a></td>
        </tr>
    }
</table>

@if (TempData["mode"] == "detail")
{
    <h1>Details @Model.studentDetail.FullName</h1>
    <ul>
        <li>@Model.studentDetail.LecturerName</li>
        <li>@Model.studentDetail.Dob</li>
        <li>@Model.studentDetail.Gender</li>
    </ul>
    @foreach (var n in Model.studentDetail.Classes)
    {
        <p>@n.ClassName</p>
    }
    @foreach (var m in Model.studentDetail.Subjects)
    {
        <p>@m.Subject1</p>
    }
}

@if (TempData["mode"] == "delete")
{
    <p>"Delete Succesfully"</p>
}

